td,th {
	font-family: monospace;
	padding: 2.1em;
	background-color: #ccc;  
	margin: 400px;
	border: 1px solid black;
	
}

label {
	vertical-align: top;
	margin-top: 10px;
	margin-left: 0px;
	width: 630px;
	
	
}

#PlayArea {
        border: 1px;
	padding: 1.5em;
        margin: auto;
	max-width: 30em;
	height: 570px;
	background-color: #ccc;
	margin-right: 32%;
	margin-top: 20px;		
	
}
#PlayArea1 {
        border: 1px;
	padding: 1.5em;
        margin: auto;
	max-width: 30em;
	height: 90px;
	margin-right: 35%;
	margin-top: 30px;		
	
}
#items_table {
	border: 1px dotted white;
	padding: 1.1em;
        margin: 300px;
	max-width: 45em;
	margin-top: 80px;
	margin-right: 20%;
	
}
h2 {
	text-align: center;
	margin-right: -20px;
#items_table h2 {
	border: 1px;
	padding: 6px;
	margin-top: 50px;
	margin-right: 100%;
}

style {
	 border: 1px;
		padding: 1.5em;
	        margin: auto;
		max-width: 30em;
		height: 370px;
		background-color: #ccc;
		margin-right: 32%;
		margin-top: 30px;		
		
}
table,{ border: 1px solid black;}
